<%- include('includes/header') %>
        <div class="container">
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle margin-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-lg fa-user"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id='logoutButton' href="/">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="centered margin-top">
                <h2>Password Manager</h2>
                <h4>Login</h4>
            </div>
        </div>
<%- include('includes/footer') %>